@using System.Text.RegularExpressions
@model IEnumerable<String>
@{
    const string speechVoices = "speechVoices";
    const string speechRate = "speechRate";
    const string speakButton = "speakButton";
    const string resumeButton = "resumeButton";
    const string pauseButton = "pauseButton";
    const string cancelButton = "cancelButton";

    const string playButton = "playButton";
    const string stopButton = "stopButton";
    const string saveButton = "saveButton";

}
<br />
<link href="~/Content/style.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<article id="webslides" class="vertical">
    <section class="bg-white">
        <span class="background bg1" style="background-image:url('https://cntttest.vanlanguni.edu.vn:18081/SpeakOut/Library/images/background1.jpg')"></span>

        <div class="container body-content pageProcess">
            <div class="row">
                <div class="col-sm-3 form-inline">
                    <select class="form-control" id="@speechVoices"></select>
                    <input type="range" data-slider-min="0.5" data-slider-max="2" data-slider-value="1" data-slider-step="0.1" id="@speechRate">
                </div>

                <div class="col-sm-4 form-inline">
                    <button id="@speakButton" class="btn" title="Listening" data-toggle="popover" data-trigger="hover" data-content="Click to listen your text"><img class="icon" src="@Url.Content("~/Content/out-play.png")" /></button>
                    <button id="@resumeButton" class="btn" title="Resume" data-toggle="popover" data-trigger="hover" data-content="Click to Resume" style="display:none"><img class="icon" src="@Url.Content("~/Content/out-play.png")" /></button>
                    <button id="@pauseButton" class="btn" title="Pause" data-toggle="popover" data-trigger="hover" data-content="Click to Pause" style="display:none"><img class="icon" src="@Url.Content("~/Content/out-pause.png")"></button>
                    <button id="@cancelButton" class="btn" title="Stop" data-toggle="popover" data-trigger="hover" data-content="Click to Stop" style="display:none"><img class="icon" src="@Url.Content("~/Content/out-stop.png")"></button>
                </div>

                <div class="col-sm-5 form-inline">
                    <button id="btn_record" class="btn" onclick="startButton(event)">
                        <img alt="Start" id="img_record" class="icon img-circle" src="@Url.Content("~/Content/mic-record.gif")">
                    </button>
                    <button id="@playButton" class="btn" title="Replay" data-toggle="popover" data-trigger="hover" data-content="Click to replay your voice" style="display:none"><img class="icon" src="~/Content/rec-play.png"></button>
                    <button id="@stopButton" class="btn" title="Stop" data-toggle="popover" data-trigger="hover" data-content="Click to Stop" style="display:none"><img class="icon" src="~/Content/out-stop.png"></button>
                    <button id="@saveButton" class="btn" title="Download" data-toggle="popover" data-trigger="hover" data-content="Click to Download" style="display:none"><img class="icon" src="~/Content/rec-download.png"></button>
                </div>
            </div>

            <div class="well">
                <div class="container wordProcess">
                    @foreach (var text in Model)
                    {
                        if (String.IsNullOrEmpty(text))
                        {
                            <br /><br />
                        }
                        else
                        {
                            <span class="line">
                                @MvcHtmlString.Create("<!--")
                                @foreach (var word in Regex.Split(text, "([a-zA-Z]+)"))
                                {
                                    @MvcHtmlString.Create("-->")<span class="@(Regex.IsMatch(word, "[a-zA-Z]+") ? "word" : word.Contains('.') ? "dot" : null)">@word</span>@MvcHtmlString.Create("<!--")
                                }
                                @MvcHtmlString.Create("-->")
                            </span>
                        }
                    }
                </div>
            </div>

            <style>
                span.line:hover {
                    text-decoration: underline;
                }

                span.bold {
                    font-weight: bold;
                }

                span.italic {
                    font-style: italic;
                }

                span.underline {
                    text-decoration: underline;
                }

                span.overline {
                    border-top: dashed 1px;
                }

                span.word {
                    cursor: pointer;
                }

                span.red {
                    color: red;
                }

                span.green {
                    color: green;
                }

                span.blue {
                    color: blue;
                }
            </style>

            @section Script1 {
                <script>
    $(function () {
        $('span.word').click(function () {
            $('span.bold').removeClass('bold').parent('span.line').removeClass('underline');
            $(this).addClass('bold').parent('span.line').addClass('underline');
            setContent($(this).parent('span.line').nextAll('span.line').andSelf());
        });
        setContent($('span.line'));
    });
    spanContent = [];
    textContent = [];
    function setContent(sentences) {
        spanContent = [];
        sentences.each(function () {
            var sentence = [];
            $(this).find('span.word').each(function () {
                sentence.push($(this).text().toLowerCase());
            });
            spanContent.push(this);
        })
        textContent = spanContent.slice(0);
    }
    // start coding here
    var listVoices = ["David", "Zira", "Mark", "Chelsea", "Peter", "Sergio"]; // array name for google voices
    /*
    Get voices from google
    */
   var voiceSelect = $(@speechVoices)[0];
    function populateVoiceList() {
        var voices = speechSynthesis.getVoices();
        voiceSelect.innerHTML = '';
        for (i = 0; i < voices.length; i++) {
            if (voices[i].lang == "en-US" || voices[i].lang == "en-GB") {
                var option = document.createElement('option');
                option.innerHTML = voices[i].name;
                option.setAttribute('value', i);
                voiceSelect.appendChild(option);
            }
            if (voices[i].default)
                $(voiceSelect).val(i);
        }
        listVoices = voices;
    }
    populateVoiceList();
    if (speechSynthesis.onvoiceschanged !== undefined) {
        speechSynthesis.onvoiceschanged = populateVoiceList;
    }
    var mic, recorder, soundFile;
    var state = 0; // mousePress will increment from Record, to Stop, to Play
    var isClick = true;                                                         //boolean for handle reading text
    var count = 1;                                                              //count for handle recording
    var isBegin = true;                                                         //set state for begin in reading
    var countEnd = 0;                                                            //count for handle record to auto end
    /*
     Handle function to read Text
     */
     let isSpeaking = false;
    function speakText2(text) {
        utterThis = new SpeechSynthesisUtterance(text);
        utterThis.onend = function () {
            if (spanContent.length == 0) { // check the last line
                isSpeaking = false;
                $(@speakButton).show();
                $(@resumeButton).hide();
                $(@pauseButton).hide();
                $(@cancelButton).hide();
                $('.line').removeClass('blue');
                spanContent = textContent.slice(0);
            }
            if (isSpeaking && spanContent.length > 0)
                speakText1();
        }
        utterThis.onstart = function (event) {
            $(@speakButton).hide();
            $(@resumeButton).hide();
            $(@pauseButton).show();
            $(@cancelButton).show();
        }
        utterThis.onpause = function (event) {
            $(@resumeButton).show();
            $(@pauseButton).hide();
        }
        utterThis.onresume = function (event) {
            $(@resumeButton).hide();
            $(@pauseButton).show();
        }
        utterThis.onerror = function (event) {
            console.error(event);
        }
        utterThis.voice = listVoices[$(@speechVoices).val()];
        utterThis.rate = $(@speechRate).val();
        speechSynthesis.cancel();
        speechSynthesis.speak(utterThis);

    }
    /*
    Handle resume, cancel and play to read
    */
    $("#@pauseButton").click(function () { // handle pause button
        $(this).hide();
         $(@resumeButton).show();
        speechSynthesis.pause();
    });
    $("#@resumeButton").click(function () { // handle resume button
        $(this).hide();
         $(@pauseButton).show();
        speechSynthesis.resume();
    });
    $("#@cancelButton").click(function () { // handle cancel button
        speechSynthesis.cancel();
        $("#@speakButton").show();
        $("#@resumeButton").hide();
        $("#@pauseButton").hide();
        $("#@cancelButton").hide();
        isSpeaking = false;
        $('.line').removeClass('blue');
        spanContent = textContent.slice(0);
    });
    // handle play button
        $("#@speakButton").click(function () {
        if (spanContent.length > 0) {
            $(this).hide();
            speakText1();
        }
    });
    function speakText1() {
        isSpeaking = true;
        $('.line').removeClass('blue');
        $(spanContent[0]).addClass('blue');
        //$(spanContent[0]).parent().find('span.bold').removeClass('bold').parent('span.line').removeClass('underline');
        let speakText = $(spanContent[0]).children('span').removeAttr('data-content');
            speakText2($(speakText).text());
            spanContent.reverse();
            spanContent.pop();
            spanContent.reverse();

    }
    isOnclick = false; //to set run play
    function setup() { //Setup mic onload
        mic = new p5.AudioIn();
        //mic.start();
        recorder = new p5.SoundRecorder();
        recorder.setInput(mic);
        soundFile = new p5.SoundFile();
    }
    function startRecord() { //mousePressed1
        mic.start();
        //if (mic.enabled) {//set state to hide or show and state
        recorder.record(soundFile);
        $.notify("Recording...", "info");
        //$('#recordButton').attr('data-content', "Recording....")
        //$('#recordingStopButton').show();
        //$('#replayButton').hide();
        //}
        $(@playButton).hide();
        $(@stopButton).hide();
        $(@saveButton).hide();
    }
    function stopRecord() { //mousePressed2
        mic.stop();
        recorder.stop(); // stop recorder, and send the result to soundFile
        //$('#recordingStopButton').hide();
        $.notify("Stopping Recording", "info");
        $(@playButton).show();
        $(@saveButton).show();
    }
    $(@playButton).click(function () {
        soundFile.play(); // play the result
        $(@playButton).hide();
        $(@stopButton).show();
        soundFile.onended = function () {
            $(@stopButton).trigger('click');
        }
    });
    $(@stopButton).click(function () {
        soundFile.stop();
        $(@playButton).show();
        $(@stopButton).hide();
    });
    $(@saveButton).click(function () {
        $.notify("Downloading", "info");
        saveSound(soundFile, 'mySound.wav'); // save file
    });
    /*
    Run when load
    */
    $(document).ready(function () {
        $(@speechRate).slider();
        $('[data-toggle="popover"]').attr('unselectable', 'on');
        $('[data-toggle="popover"]').on('selectstart', false);
    });
    /*
    Handle lookup dictionary
    */
    var oldText = "";
    var replacePopover = "";
    let spelling = '';
    let vietnamMeaning = '';
    let englishWord = '';
    //Function check Available word
         function checkAvailable(checkWord) {
             $.ajax({
             type: 'GET',
             url: '@Url.Action("../Vocabularies/CheckAvailable")',
                 contentType: "application/json; charset=utf-8",
                 data: {checkWord:checkWord},
                 dataType: 'html',
                 context: this,
                 success: function (result, status, xhr) {
                     if (result > 0) {
                         return false;
                     } else {
                         return true;
                     }
                 },
                 error: function (xhr, status, error) {
                     alert('Result: ' + status + ' ' + error + ' ' + xhr.status + ' ' + xhr.statusText)
                 }
             });
         }
    $('span').find('.word').dblclick(function (e) {
        if (typeof $(e.target).data('original-title') == 'undefined') {
            $('[data-original-title]').popover('hide');
        }
        $(this).attr('unselectable', 'on');
        $(this).css('user-select', 'none');
        $(this).on('selectstart', false);
        findWord = $(this).text();
        $(this).attr('data-content', "Loading...");
        $(this).popover({
            html: true,
            placement: "bottom"
        });
        //Variable for save current word information

        $(this).popover('show').addClass('overline');
        utterThis = new SpeechSynthesisUtterance(findWord);
        utterThis.voice = listVoices[$(@speechVoices).val()];
        utterThis.rate = $(@speechRate).val();
        speechSynthesis.cancel();
        speechSynthesis.speak(utterThis);
        var isAvaiable = -1;
                 $.ajax({
             type: 'GET',
             url: '@Url.Action("../Vocabularies/CheckAvailable")',
                 contentType: "application/json; charset=utf-8",
                 data: { checkWord:  findWord },
                 dataType: 'html',
                     context: this,
                 success: function (result, status, xhr) {
                     if (result > 0) {
                         isAvaiable=1;
                     } else {
                         isAvaiable = 0;
                     }
                 },
                 error: function (xhr, status, error) {
                     alert('Result: ' + status + ' ' + error + ' ' + xhr.status + ' ' + xhr.statusText)
                 }
             });
        $.ajax({
            type: 'POST',
            url: '@Url.Action("../Home/Lookup")',
            contentType: "application/json; charset=utf-8",
            data: '{ "findWord": "' + findWord + '" }',
            dataType: 'html',
            context: this,
            success: function (result, status, xhr) {
                //Set event has word
                if (result == "||") {
                    $(this).attr('data-content', '<div id="pronunciation" style="background-color: rgb(241,241,241);margin:-10px -10px 4px;font-size:14px;border-style:gridge; padding:5px 5px" >' + findWord + '</div>' + '<span> Không tìm thấy từ điển</span>');
                }
                else {
                    var wordSplit = result.split("|");
                    if (isAvaiable == 1) {
                        var wordSplit = result.split("|");
                        $(this).attr('data-content', '<div id="pronunciation" style="background-color: rgb(241,241,241);margin:-10px -10px 4px;font-size:14px;border-style:gridge; padding:5px 5px" >' + wordSplit[0] + '  ' + wordSplit[2] + '<a href="#" style="float: right">' + '<i class="fas fa-star"></i>' + '</a>' + '</div>' + '<span>' + wordSplit[1] + '</span>');
                        spelling = wordSplit[0] + ' ' + wordSplit[2];
                        //Format vietnam meaning
                        wordSplit[1] = wordSplit[1].replace(/<br\s*\/?>/gi, ' ');
                        let wsRegex = /^\s*\s*$/; // Change this line
                        vietnamMeaning = wordSplit[1].replace(wsRegex, ''); // Change this line;
                        englishWord = findWord;
                    } else {
                        $(this).attr('data-content', '<div id="pronunciation" style="background-color: rgb(241,241,241);margin:-10px -10px 4px;font-size:14px;border-style:gridge; padding:5px 5px" >' + wordSplit[0] + '  ' + wordSplit[2] + '<a href="#" style="float: right" id="saveWordButton">' + '<i class="far fa-star"></i>' + '</a>' + '</div>' + '<span>' + wordSplit[1] + '</span>');
                        spelling = wordSplit[0] + ' ' + wordSplit[2];
                        //Format vietnam meaning
                        wordSplit[1] = wordSplit[1].replace(/<br\s*\/?>/gi, ' ');
                        let wsRegex = /^\s*\s*$/; // Change this line
                        vietnamMeaning = wordSplit[1].replace(wsRegex, ''); // Change this line;
                        englishWord = findWord;
                    }

                }

                $(this).attr('data-html', true);
                $(this).popover('show');
                $(this).removeAttr('data-content');
                $(this).attr('data-content', "Please double click again");
                $('#pronunciation').find('#saveWordButton').on('click', function () {
                    saveDictionary();
                    loadDictionary();

                });
                
            },
            error: function (xhr, status, error) {
                alert('Result: ' + status + ' ' + error + ' ' + xhr.status + ' ' + xhr.statusText)
            }
        });
        return false;
     });

        //Function save dictionary
        function saveDictionary() {
            $.ajax({
                type: "POST",
                url: '@Url.Action("../Vocabularies/SaveEntity")',
                data: {
                    Id: 0,
                    EngWord: englishWord,
                    VnWord: vietnamMeaning,
                    Spelling: spelling,

                },
                dataType: "json",
                success: function (response) {
                    $.notify(response, "info");
                },
                error: function (xhr, status, error) {
                    alert('Result: ' + status + ' ' + error + ' ' + xhr.status + ' ' + xhr.statusText)
                }
            });
        }
        //Function Load Dictionary
        function loadDictionary() {
            $.ajax({
                type: "GET",
                url: "https://cntttest.vanlanguni.edu.vn:18081/SpeakOut/Vocabularies/getVocabularies",
                dataType: "json",
                success: function (response) {
                    console.log(response);
                    if (response != "Không tìm thấy từ điển") {
                        var allList = '';
                        $.each(response, function (i, item) {
                            item.VnWord = item.VnWord.replace(/<br\s*\/?>/gi, ' ');
                            let wsRegex = /^\s*\s*$/; // Change this line
                            let result = item.VnWord.replace(wsRegex, ''); // Change this line
                            var res = result.split(";");
                            console.log(result + ' ' + item.EngWord + ' ' + item.Spelling);
                            allList += item.EngWord + ' ' + item.Spelling + '<br>' + ' ' + res[0] + '<br>';
                        });
                        $('#wordLibrary').html(allList);
                    }

                },
                error: function (xhr, status, error) {
                    alert('Result: ' + status + ' ' + error + ' ' + xhr.status + ' ' + xhr.statusText)
                }
            });
        }
    $('html').on('click', function (e) {
        if (typeof $(e.target).data('original-title') == 'undefined') {
            $('[data-original-title]').popover('hide');
        }
    });
    $('span.word.bold').ready(function () {
        $('[data-toggle="popover"]').popover();
    });
                </script>

                <script src="~/Scripts/notify.js"></script>

                <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.1/p5.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.1/addons/p5.sound.min.js"></script>

                <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.0/bootstrap-slider.min.js"></script>
                <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.0/css/bootstrap-slider.min.css" rel="stylesheet" />
            }

            <nav id="info" class="navbar navbar-default navbar-fixed-bottom" style="min-height:0">
                <div class="container">
                    <div class="navbar-header">
                        <span id="interim" style="font-size:larger;color:darkmagenta"></span>
                    </div>
                </div>
            </nav>

            @section Script2 {
                <script>
    var is_final = false;
    var check_index1 = 0;
    var check_index2 = 0;
    var new_sentence = false;
    var final_transcript = '';
    var recognizing = false;
    var ignore_onend;
    var start_timestamp;
    var recording = false;
    if (!('webkitSpeechRecognition' in window)) {
        upgrade();
    } else {
        btn_record.style.display = 'inline-block';
        var recognition = new webkitSpeechRecognition();
        recognition.continuous = true;
        recognition.interimResults = true;
        recognition.onstart = function () {
            recognizing = true;
            showInfo('Speak now.');
            img_record.src = '@Url.Content("~/Content/mic-animate.gif")';
        };
        recognition.onerror = function (event) {
            if (event.error == 'no-speech') {
                img_record.src = '@Url.Content("~/Content/mic-record.gif")';
                showInfo('No speech was detected. You may need to adjust your microphone settings.');
                ignore_onend = true;
            }
            if (event.error == 'audio-capture') {
                img_record.src = '@Url.Content("~/Content/mic-record.gif")';
                showInfo('No microphone was found. Ensure that a microphone is installed and that microphone settings are configured correctly.');
                ignore_onend = true;
            }
            if (event.error == 'not-allowed') {
                if (event.timeStamp - start_timestamp < 100) {
                    showInfo('Permission to use microphone is blocked. To change, go to chrome://settings/contentExceptions#media-stream');
                } else {
                    showInfo('Permission to use microphone was denied.');
                }
                ignore_onend = true;
            }
        };
        recognition.onend = function (event) {
            recognizing = false;
            if (ignore_onend) {
                return;
            }
            img_record.src = '@Url.Content("~/Content/mic-record.gif")';
            if (!final_transcript) {
                showInfo('Click on the microphone icon and begin speaking for as long as you like.');
                return;
            }
            showInfo('');
            if (is_final) startButton(event);
        };
        recognition.onresult = function (event) {
            var interim_transcript = '';
            if (typeof (event.results) == 'undefined') {
                recognition.onend = null;
                recognition.stop();
                upgrade();
                return;
            }
            for (var i = event.resultIndex; i < event.results.length; ++i) {
                if (is_final = event.results[i].isFinal) {
                    recognition.stop();
                    check_index1 = check_index2;
                    final_transcript += event.results[i][0].transcript;
                    console.log(final_transcript);
                } else {
                    interim_transcript += event.results[i][0].transcript;
                }
            }
            //final_span.innerHTML = linebreak(final_transcript);
            //interim_span.innerHTML = linebreak(interim_transcript);
            showInfo(interim_transcript);
            if (spanContent.length > 0 && !new_sentence) {
                var sentence = $(spanContent[0]).find('.word');
                var transcript = interim_transcript.toLocaleLowerCase().split(' ');
                check_index2 = check_correct(sentence, transcript, check_index1);
                if (check_index1 > 0)
                    if (check_correct(sentence, transcript, 0) > check_index2 - check_index1)
                        check_index1 = 0;
                $('span.bold').removeClass('bold');
                $('span.italic').removeClass('italic');
                $(sentence[check_index1]).addClass('bold');
                $(sentence[check_index2]).addClass('italic');
                if (sentence.last().hasClass('green') ||
                    sentence.last().prev().hasClass('green')) {
                    spanContent.reverse();
                    spanContent.pop();
                    spanContent.reverse();
                    interim_transcript = '';
                    check_index1 = 0;
                    check_index2 = 0;
                    recognition.stop();
                    new_sentence = true;
                }
            }
        };
    }
    function are_equal(sentence, transcript) {
        return $(sentence).text().toLocaleLowerCase() == transcript;
    }
    function mark_right(word) {
        $(word).removeClass('red').addClass('green');
    }
    function mark_wrong(word) {
        $(word).not('.green').addClass('red');
    }
    function check_correct(sentence, transcript, index) {
        var i = index, j = 0;
        while (i < sentence.length && j < transcript.length) {
            if (are_equal(sentence[i], transcript[j])) {
                mark_right(sentence[i]);
                i++; j++;
                index = i; continue;
            }
            if (i < sentence.length - 1 && j < transcript.length - 1) {
                if (are_equal(sentence[i], transcript[j + 1])) {
                    mark_right(sentence[i]);
                    i++; j++; j++;
                    index = i; continue;
                }
                if (are_equal(sentence[i + 1], transcript[j])) {
                    mark_right(sentence[i + 1]);
                    i++; i++; j++;
                    index = i; continue;
                }
            }
            i++; j++;
        }
        return index;
    }
    function upgrade() {
        btn_record.style.visibility = 'hidden';
        showInfo('Web Speech API is not supported by this browser. Upgrade to Chrome version 25 or later.');
    }
    function startButton(event) {
        if (!recording) // start recording
            startRecord(recording = true);
        if (recognizing) {
            stopRecord(recording = false);
            is_final = false;
            recognition.stop();
            return;
        } else new_sentence = false;
        final_transcript = '';
        recognition.lang = 'en-US';
        recognition.start();
        ignore_onend = false;
        //final_span.innerHTML = final_transcript;
        showInfo(final_transcript);
        //interim_span.innerHTML = '';
        img_record.src = '@Url.Content("~/Content/mic-slash.gif")';
        showInfo('Click the "Allow" button above to enable your microphone.');
        start_timestamp = event.timeStamp;
    }
    function showInfo(s) {
        if (s) {
            $('#interim').text(s);
            info.style.visibility = 'visible';
        } else {
            info.style.visibility = 'hidden';
        }
    }
                </script>
            }

            @section Scripts {
                <script>
    @*$(function () {
        if ('@ViewBag.Type' == 'Speak')
            $(@speakButton).trigger('click');
    });*@
                </script>
            }
        </div>
    </section>
</article>