@model IEnumerable<SpeakOutWeb.Models.Vocabulary>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<article id="webslides" class="vertical">
    <section class="bg-white">
        <span class="background bg1" style="background-image:url('/Library/images/background1.jpg')"></span>
        <table class="table">
            <tr>
                <th>
                    Your vocabularies
                </th>
                <th>
                    Your bookmarks
                </th>

                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.EngWord)<br />
                        @Html.DisplayFor(modelItem => item.Spelling)<br />
                        @Html.DisplayFor(modelItem => item.VnWord)
                    </td>
                    <td>
                        @if (item.Bookmark == true)
                        {
                            <input type="checkbox" checked value="@item.Id">
                        }
                        else
                        {
                            <input type="checkbox" checked value="@item.Id">
                        }
                    </td>
                    <td>
                        <button type="submit" class="btn btn-primary" id=" bookmarkedButton" data-id="@item.Id">Bookmark</button>
                    </td>
                </tr>
            }
        </table>
    </section>
</article>
@section Script1{
    <script>
        $('#bookmarkedButton').on('click', function () {
            $.ajax({
            type: 'POST',
            url: '@Url.Action("../Vocaluaries/UpdateBookmard")',
            contentType: "application/json; charset=utf-8",
            data: '{ "Id": "' + $(this).attr("data-id") + '" }',
                success: function (result, status, xhr) {
                    $.notify(result, "info");
                    window.location.reload();
            },
            error: function (xhr, status, error) {
                alert('Result: ' + status + ' ' + error + ' ' + xhr.status + ' ' + xhr.statusText)
            }
        });
        });
    </script>

}