<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practicing your English...</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="icon" href="~/Library/images/logos/logo.png" type="image/x-icon">
    <!-- Theme CSS -->
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,700,700i%7CMaitree:200,300,400,600,700&amp;subset=latin-ext" rel="stylesheet">
    <!-- CSS WebSlides -->
    <link rel="stylesheet" type='text/css' media='all' href="~/Library/css/webslides.css">
    <!-- Optional - CSS SVG Icons (Font Awesome) -->
    <link rel="stylesheet" type='text/css' media='all' href="~/Library/css/svg-icons.css">
    <!-- my link -->
    <link rel="stylesheet" type='text/css' media='all' href="~/Library/css/style.css">
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @*<div class="navbar navbar-default navbar-fixed-top" style="background-color:#303ab2">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="pull-left" href="@Url.Action("Index", "Home")"><img src="@Url.Content("~/Content/logo-readout.png")" style="max-height:45px;margin-right:20px;" /></a>
                </div>
                <div class="navbar-collapse collapse">

                    <ul class="nav navbar-nav navbar-left">

                        <li>@Html.ActionLink("Demo", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                    <a class="pull-right" href="@Url.Action("Index", "Home")">
                        <img src="@Url.Content("~/Content/logo-vlu-6.png")" style="max-height:45px;" />
                    </a>
                </div>
            </div>
        </div>*@
    <header class="bg-white menuBar">
        <!--.wrap o <nav> = container 1200px -->
        <nav>
            <p class="logo"><a href="../index.html" title="VanLangUni">VanLangUni</a></p>
            <ul class="navBar">
                <li><a href="#slide=1"><strong>Trang chủ</strong></a></li>
                <li><a href="#slide=2">Từ điển</a></li>
                <li><a href="#slide=8">Mở Lớp</a></li>
                <li><a href="#slide=6">Trò chơi</a></li>
                <li><a href="#slide=7">Về SpeakOut</a></li>
                @Html.Partial("_LoginPartial")
            </ul>
        </nav>
    </header>
    <main>

        @RenderBody()

        @*Float button dictionary here*@
        <div class="fab">
            <span class="fab-action-button">
                <i class="fab-action-button__icon"></i>
            </span>
            <ul class="fab-buttons">
                <li class="fab-buttons__item">
                    <a href="#" class="fab-buttons__link" data-tooltip="Your dictionary">
                        <span style="height:200px;overflow-y:scroll"> </span>
                    </a>
                </li>
            </ul>
        </div>
    </main>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <!--Main script-->
    <script src="~/Library/js/main.js"></script>
    @RenderSection("script1", required: false)
    @RenderSection("script2", required: false)
    @RenderSection("scripts", required: false)
</body>
</html>