<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practicing your English...</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="icon" href="~/Library/images/logos/logo.png" type="image/x-icon">
    <!-- Theme CSS -->
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,700,700i%7CMaitree:200,300,400,600,700&amp;subset=latin-ext" rel="stylesheet">
    <!-- CSS WebSlides -->
    <link rel="stylesheet" type='text/css' media='all' href="~/Library/css/webslides.css">
    <!-- Optional - CSS SVG Icons (Font Awesome) -->
    <link rel="stylesheet" type='text/css' media='all' href="~/Library/css/svg-icons.css">
    <!-- my link -->
    <link rel="stylesheet" type='text/css' media='all' href="~/Library/css/style.css">
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header class="bg-white menuBar">
        <header class="bg-white menuBar">
            <!--.wrap o <nav> = container 1200px -->
            <nav class="navVLU">
                <p class="logo"><a href="../index.html" title="VanLangUni">VanLangUni</a></p>
                <ul class="navBar" id="myTopnav">
                    <li><a href="@Url.Action("../Home/Index")"><strong>Trang chủ</strong></a></li>
                    <li><a href="@Url.Action("../Vocabularies/Index")">Từ điển</a></li>
                    <li><a href="#slide=8">Mở Lớp</a></li>
                    <li><a href="@Url.Action("../Game/Index")">Trò chơi</a></li>
                    <li><a href="#slide=7">Về SpeakOut</a></li>
                    @Html.Partial("_LoginPartial")
                    <li class="icon">
                        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                            <svg class="fa-clock o">
                                <use xlink:href="#fa-bars"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </nav>
        </header>
        <!--.wrap o <nav> = container 1200px -->
        <nav>
            <p class="logo"><a href="../index" title="VanLangUni">VanLangUni</a></p>
            <ul class="navBar" id="myTopnav">
                <li><a href="@Url.Action("../Home/Index")"><strong>Trang chủ</strong></a></li>
                <li><a href="@Url.Action("../Vocabularies/Index")">Từ điển</a></li>
                <li><a href="#slide=8">Mở Lớp</a></li>
                <li><a href="@Url.Action("../Game/Index")">Trò chơi</a></li>
                <li><a href="#slide=7">Về SpeakOut</a></li>
                @Html.Partial("_LoginPartial")
            </ul>
        </nav>
    </header>
    <main>

        @RenderBody()

        @*Float button dictionary here*@
        <div class="fab">
            <span class="fab-action-button">
                <i class="fab-action-button__icon"></i>
            </span>
            <ul class="fab-buttons">
                <li class="fab-buttons__item">
                    <a href="#" class="fab-buttons__link" data-tooltip="Your dictionary">
                        <div style="height:200px; overflow-y:scroll" id="wordLibrary"> </div>
                    </a>
                </li>
            </ul>
        </div>
    </main>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <!--Main script-->
    <script src="~/Library/js/main.js"></script>
    @RenderSection("script1", required: false)
    @RenderSection("script2", required: false)
    @RenderSection("scripts", required: false)
</body>
</html>