<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practicing your English...</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        body {
            background-image: url('@Url.Content("~/Content/sky-blue-backgrounds.jpg")');
            height: 100%;
            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .navbar-default .navbar-nav > li > a {
            color: white;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="~/Content/style.css" />
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top" style="background-color:#303ab2">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="pull-left" href="@Url.Action("Index", "Home")"><img src="@Url.Content("~/Content/logo-readout.png")" style="max-height:45px;margin-right:20px;" /></a>
            </div>
            <div class="navbar-collapse collapse">

                <ul class="nav navbar-nav navbar-left">

                    <li>@Html.ActionLink("Demo", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
                <a class="pull-right" href="@Url.Action("Index", "Home")">
                    <img src="@Url.Content("~/Content/logo-vlu-6.png")" style="max-height:45px;" />
                </a>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div style="height:100vh">

            @RenderBody()
        </div>
        <hr />
        <footer class="footer">
            <div class="container">
                <p class="text-muted">&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </div>
        </footer>
    </div>
    @*Float button dictionary here*@
    <div class="fab">
        <span class="fab-action-button">
            <i class="fab-action-button__icon"></i>
        </span>
        <ul class="fab-buttons">
            <li class="fab-buttons__item">
                <a href="#" class="fab-buttons__link" data-tooltip="Your dictionary">
                    <span style="height:200px"> </span>
                </a>
            </li>
        </ul>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("script1", required: false)
    @RenderSection("script2", required: false)
    @RenderSection("scripts", required: false)
</body>
</html>