@model PagedList.IPagedList<SpeakOutWeb.Models.UserAudioGroup>
@using Microsoft.AspNet.Identity
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/css")
<style>
    span.line:hover {
        text-decoration: underline;
    }

    span.bold {
        font-weight: bold;
    }

    span.italic {
        font-style: italic;
    }

    span.underline {
        text-decoration: underline;
    }

    span.overline {
        border-top: dashed 1px;
    }

    span.word {
        cursor: pointer;
    }

    span.red {
        color: red;
    }

    span.green {
        color: green;
    }

    span.blue {
        color: blue;
    }
</style>
<article id="webslides" class="vertical">
    <section class="bg-white  ">
        <div class="container">
            <div>

                @using (Html.BeginForm("AudioStudent", "UserGroups", FormMethod.Get, new { @class = "formSearch" }))
                {
                <p class="formSearch">
                    Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter5 as string)
                    <input type="hidden" value="@ViewBag.classId" name="idClass" />
                    <input type="hidden" value="@ViewBag.studentId" name="studentName" />
                    <input type="submit" value="Search" id="submitSearch" />
                </p>
                }
            </div>
            <table class="table">
                <tr>
                    <th>
                        STT
                    </th>
                    <th>
                        <button id="sortButton">@Html.ActionLink("   NGÀY TẠO ", "AudioStudent", new { sortOrder = ViewBag.DateSortParm5, studentName= ViewBag.studentId, idClass=ViewBag.classId }, new { @class = "glyphicon glyphicon-sort-by-alphabet" })</button>
                    </th>
                    <th>
                        Bài nghe
                    </th>
                    <th>
                        Kết quả
                    </th>
                    <th></th>
                </tr>
                @{
                    int count = 1;
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@count</td>
                            <td>
                                @item.UserAudio.CreateDate
                            </td>
                            <td>
                                <audio controls src="@Url.Action("LoadAudio", new { id = item.UserAudio.Id })" ) />
                            </td>
                            <td>
                                <script>
                    document.write(unescape("@item.UserAudio.TextAudio"));
                                </script>
                            </td>
                        </tr>
                        count++;
                    }

                }
            </table>
            @Html.PagedListPager(Model, page => Url.Action("AudioStudent",
               new { page, sortOrder = ViewBag.CurrentSort5, currentFilter = ViewBag.CurrentFilter5, studentName = ViewBag.studentId, idClass = ViewBag.classId }))
        </div>
    </section>
</article>