@model SpeakOutWeb.Models.UserGroup
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/css")
<style>
    .studenInfo {
        text-decoration: none !important;
        color: black !important;
    }

    tr th {
        color: white;
        text-align: center;
        vertical-align: middle;
    }

    tr {
        background-color: black;
        text-align: center;
        vertical-align: middle;
    }
</style>

<article id="webslides" class="vertical">
    <section class="bg-white">
        <span class="background bg1" style="background-image:url('@Url.Content("~/Library/images/real-estate-background-images-6.jpg")')"></span>
        @Html.Partial("_SidebarPartial")
        <div class="container">
            @if (Model.Email == User.Identity.GetUserName())
            {
                <div class="dropdown" style="float:right">
                    <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">
                        Get link class
                        <span class="caret"></span>
                    </button>

                    <ul class="dropdown-menu">
                        <li><button onclick="myFunction()">Copy text</button><input type="text" value="@Url.Action("../UserGroups/GetLinkClass")" id="txtLink" /></li>
                    </ul>
                </div>
            }
            <input type="hidden" data-id="@Model.Id" />
            <table class="table">
                <tr>
                    <th>
                        User name
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Ngày tham gia
                    </th>
                    <th>
                    </th>
                </tr>

                @foreach (var item in Model.UserGroupDetails)
                {
                    <tr class="active">
                        <td>
                            @item.StudentName
                        </td>
                        <td>
                            @item.StudentEmail
                        </td>
                        <td>
                            @item.CreatedDate
                        </td>
                        @if (Model.Email == User.Identity.GetUserName())
                        {
                            <td>
                                <div class="dropdown">
                                    <button class=" button radius dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Xem thông tin học viên</button>

                                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                                        <li style="margin-left:0px">@Html.ActionLink("Từ vựng", "StudentDetails", new { classId = item.GroupId, studentId = item.StudentEmail }, new { @class = "studenInfo" })</li>
                                        <li style="margin-left:0px">
                                            @Html.ActionLink("Lịch sử học", "StudentLogs", new { classId = item.GroupId, studentId = item.StudentEmail }, new { @class = "studenInfo" })
                                        </li>
                                        <li style="margin-left:0px">
                                            @Html.ActionLink("AudioStudent", "AudioStudent", new { idClass = item.GroupId, studentName = item.StudentEmail }, new { @class = "studenInfo" })
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        }
                    </tr>
                }
            </table>
            <p>
                @Html.ActionLink("Back to List", "Index")
            </p>
        </div>
    </section>
</article>
@section Script1{
    <script>
            var fullPath = location.protocol + '//' + location.hostname + (location.port ? ':' + location.port : '');
            //console.log(window.location.pathname);
            var full = window.location.pathname.split("/Details");
        $("#txtLink").val(fullPath+full[0] + "/GetLinkClasses?classId=" +@Model.Id);
        function myFunction() {
            /* Get the text field */
            var copyText = document.getElementById("txtLink");

            /* Select the text field */
            copyText.select();

            /* Copy the text inside the text field */
            document.execCommand("copy");

            /* Alert the copied text */
            alert("Copied the text: " + copyText.value);
        }
    </script>
}