
@model PagedList.IPagedList<SpeakOutWeb.Models.UserLog>
@using PagedList;
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/css")
<style>
    #buttonControl a {
        text-decoration: none !important;
        color: white !important;
    }
</style>

<article id="webslides" class="vertical">
    <section class="bg-white">
        <div class="container">
            @using (Html.BeginForm("StudentLogs", "UserGroups", FormMethod.Get))
            {
            <p class="formSearch">
                Tìm theo đoạn văn và loại: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
                <input type="hidden" value="@ViewBag.classId" name="classId" />
                <input type="hidden" value="@ViewBag.studentId" name="studentId" />
                <input type="submit" value="Search" id="submitSearch" style="width:80px" />

            </p>
            }
            <table class="table">
                <tr>
                    <th>
                        STT
                    </th>
                    <th>
                        LOẠI
                    </th>
                    <th>
                        @Html.ActionLink("NGÀY TẠO", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter, classId = ViewBag.classId, studentId = ViewBag.studentId })
                    </th>
                    <th>
                        ĐOẠN VĂN
                    </th>
                </tr>
                @{int count = 1;
                    foreach (var item in Model)
                    {
                        <input type="hidden" data-id="@item.Id" />
                        <tr class="active">
                            <td>
                                @count
                            </td>
                            <td>
                                @item.Type
                            </td>
                            <td>
                                @item.CreateDate
                            </td>
                            <td id="speechContext1">
                                <button class="btn btn-info" id="showMore">Hiên thị thêm</button>
                                <div style="display:none" id="speechContext">@Html.Raw(item.ContentReading)</div>
                                <button class="btn btn-success" id="showAgain" style="width:20px;height:20px;display:none; text-align:center">^</button>
                            </td>
                        </tr>
                    }
                }
            </table>
            <br />
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

            @Html.PagedListPager(Model, page => Url.Action("Index",
                new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, classId = ViewBag.classId, studentId = ViewBag.studentId }))
        </div>
    </section>
</article>
@section Script1{
    <script>
        $('#showMore').on('click', function () {
            var x = document.getElementById("speechContext");
            var y = document.getElementById("showMore");
            var z = document.getElementById("showAgain");
            if (x.style.display == "none") {
                x.style.display = "block";
                y.style.display = "none";
                z.style.display = "block";

            } else {
                x.style.display = "none";
                y.style.display = "block";
                z.style.display = "none";
            }
        })
        $('#showAgain').on('click', function () {
            var x = document.getElementById("speechContext");
            var y = document.getElementById("showMore");
            var z = document.getElementById("showAgain");
            if (x.style.display == "none") {
                x.style.display = "block";
                y.style.display = "none";
                z.style.display = "block";

            } else {
                x.style.display = "none";
                y.style.display = "block";
                z.style.display = "none";
            }
        })
    </script>
}