@model PagedList.IPagedList<SpeakOutWeb.Models.Vocabulary>
@using PagedList;
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Index";
}
<link href="~/Library/css/dictionaryStyle.css" rel="stylesheet" />
@Styles.Render("~/Content/css")
<article id="webslides" class="vertical">
    <section class="bg-white">
        <span class="background bg1" style="background-image:url('@Url.Content("~/Library/images/real-estate-background-images-6.jpg")')"></span>
        <div class="container">
            @using (Html.BeginForm("StudentDetails", "UserGroups", FormMethod.Get))
            {
            <p class="formSearch">
                Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
                <input type="hidden" value="@ViewBag.classId" name="classId" />
                <input type="hidden" value="@ViewBag.studentId" name="studentId" />
                <input type="submit" value="Search" id="submitSearch" />
                <button id="sortCreatedDateButton" title="Click here to sort following created date">@Html.ActionLink("Sort by Created Date", "StudentDetails", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter, classId = ViewBag.classId, studentId = ViewBag.studentId })</button>
            </p>
            }

            <table class="table">
                <tr>
                    <th>
                        <button id="sortButton" title="Click here to sort following name">@Html.ActionLink("YOUR VOCABULARIES", "StudentDetails", new { sortOrder = ViewBag.VocabSortParm, currentFilter = ViewBag.CurrentFilter,classId = ViewBag.classId, studentId = ViewBag.studentId })</button>
                    </th>
                    <th>
                        Your bookmarks
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>

                            <span id="engWord"><strong>@Html.DisplayFor(modelItem => item.EngWord)</strong></span>
                            <span id="pronoun">@Html.DisplayFor(modelItem => item.Spelling)</span>
                            <button id="speakButton" class="btn speakButton" data-speak="@item.EngWord">
                                <img src="~/Content/500px-Speaker_Icon.svg.png" />
                            </button><br />
                            <span id="vnWord">@Html.DisplayFor(modelItem => item.VnWord)</span>
                        </td>
                        <td style="text-align:center;vertical-align: middle;">
                            @if (item.Bookmark == false)
                            {
                                <button class="btn" type="submit" id="bookmarkedButton" data-id="@item.Id"><i class="far fa-bookmark"></i></button>
                            }

                        </td>

                    </tr>
                }
            </table>
            <br />
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

            @Html.PagedListPager(Model, page => Url.Action("StudentDetails",
                new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
        </div>
    </section>
</article>
@section Script1{
    <script>
        $('#bookmarkedButton').on('click', function () {
            $.ajax({
            type: 'POST',
            url: '@Url.Action("../Vocabularies/UpdateBookmark")',
            contentType: "application/json; charset=utf-8",
            data: '{ "Id": "' + $(this).attr("data-id") + '" }',
                success: function (result, status, xhr) {
                    window.location.reload();
            },
            error: function (xhr, status, error) {
                alert('Result: ' + status + ' ' + error + ' ' + xhr.status + ' ' + xhr.statusText)
            }
        });
        });
        $('.speakButton').on('click', function () {
            var synth = window.speechSynthesis;
            var utterThis = new SpeechSynthesisUtterance($(this).attr("data-speak"));
            synth.speak(utterThis);
        });
    </script>

}