@model SpeakOutWeb.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}
<article id="webslides">
    <section class="bg-white" style="background-image:url('@Url.Content("~/Library/images/real-estate-background-images-6.jpg")')">
            <h4>Change your account settings</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>Password:</dt>
                <dd>
                    [
                    @if (Model.HasPassword)
                    {
                        @Html.ActionLink("Change your password", "ChangePassword")
                    }
                    else
                    {
                        @Html.ActionLink("Create", "SetPassword")
                    }
                    ]
                </dd>
                <dt>Nhật ký:</dt>
                <dd>
                    [ @Html.ActionLink("Nhật ký của tôi", "../UserLogs/Index") ]
                </dd>
                <dt>Bài nghe:</dt>
                <dd>
                    [ @Html.ActionLink("Bài nghe của tôi", "../Audioes/Index") ]
                </dd>
                <dt>Từ vựng</dt>
                <dd>
                    [ @Html.ActionLink("Từ vựng của tôi", "../Vocabularies/Index") ]
                </dd>
            </dl>
    </section>
</article>